.lilita-light {
    font-family: "Lilita One", serif;
    font-weight: 300;
    font-style: normal;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.lilita-bold {
    font-family: "Lilita One", serif;
    font-weight: 700;
    font-style: normal;
}

body, header, main, footer {
    font-family: "Lilita One", serif;
}


header {
    box-sizing: border-box; /* Ensures padding/borders are included in width/height */
    width: 100%; /* Ensure it occupies full width of the viewport */
    padding: 1rem;
    font-size: x-large;
}


header span {
    font-size: 1.25rem; /* Set a default font size */
    color: #66367c;
}

/* SMALL screens*/
@media only screen and (max-width: 700px) {
    nav {
     display: flex;
     justify-content: center;
     width: 100%;
    }
     nav ul {
         margin: 0;
         padding: 0 2vw;
         list-style-type: none;
         display: flex;
         text-align: center;
         border-bottom: solid 1px #ffffff;
         color: #bf73e2;
     
     }
 
     nav a {
         display: flex;
         padding: .8rem;
         text-decoration: none;
         font-weight: 700;
         text-transform: uppercase;
         text-align: center;
         margin-block: auto;
     }
 
     header {
       padding: 1px 1px;
       display: flex;
       justify-content:flex-end;
     }
     
     header nav {
         padding: 0.5rem 1rem;
         display: flex;
         justify-content:flex-end;
         padding: 10px;
         
       }
 
     header span {
         font-size: 1rem;
        
     }
     .menu li {
         margin-right: 10px;
     }
     nav .active a {
         background-color: #66367c;
         background-image: linear-gradient(to bottom, #edd5f8, #bf73e2);
         color: white;
     }
 }
 
 /*BIG Screens */
 @media only screen and (min-width: 701px) {
     nav ul {
         list-style-type: none;
         padding: 0 2vw;
         margin: 0;
         display: flex;
         justify-content: center;
     }
     
     nav a {
         padding: 12px 20px;
         text-decoration: none;
         font-size: 18px;
         text-align:center;
         color:#bf73e2; 
         text-transform: uppercase;
         
     }
 
     
     Nav a:hover {
         color:#66367c
     }
 
     header {
         
         padding: 0.25rem;
     }
     header span {
         
         font-size: 1rem;
     }
 }
 
/* General header styling */
header {
    background-color: #edd5f8;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Header text styling */
header span {
    font-size: 1.25rem; /* Default font size */
    
}


html, body {
    height: 100%;
    margin: 0;
}

/* Set up the main container (if any) to take full height */
body {
    display: flex;
    flex-direction: column;
}

main {
    color: #000000;
    padding: 1rem 2vw;
    margin-left: 0 auto; /* Center the element horizontally */
}

/* Footer style */
footer {
    background-color: #edd5f8;
    text-align: center;
    color: #66367c;
    padding: 1rem;
    font-size: .8rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: auto;  /* Push the footer to the bottom */
    box-sizing: border-box; /* Ensures padding/borders are included in width/height */
    width: 100%; /* Ensure it occupies full width of the viewport */
    justify-content: center;
    display: flex;
     /* Footer section styling */
}